# Core Framework
fastapi
uvicorn[standard]

# Database ORM and Driver
sqlalchemy
psycopg2-binary

# HTTP Client
httpx

# Authentication (JWTs and Password Hashing)
python-jose[cryptography]
argon2-cffi

# Environment Variable Management
python-dotenv
pydantic-settings

pydantic[email]